.screen-backend-sections-edit-gallery {
  .ui-backend-block.images {
    display: table;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    > .ui-backend-row.image {
      display: table-row;
      > .image {
        padding: 10px 10px 10px 20px;
        width: 1%;
        > .image {
          width: 300px;
          height: 180px;
          vertical-align: top;

        }
      }
      > .info {
        padding: 10px 20px 10px 10px;
        vertical-align: bottom;
        > .item {
          padding-top: 5px;
          &.filename {
            font-size: 13px;
          }
          &.description {
            > textarea {
              height: 145px;
            }
          }
        }
      }
      > .image,
      > .info {
        border-bottom: 1px solid #eee;
        display: table-cell;
      }
      &:first-child {
        > .image,
        > .info {
          border-top: 1px solid #eee;
        }
      }
    }
  }
}
