{{ui-backend/header title='Portfolio'}}

{{#ui-backend/block}}
  {{#ui-backend/row}}
    <p>Simple photography portfolio website</p>
  {{/ui-backend/row}}
  {{#ui-backend/row}}
    <p><a href="https://github.com/ampatspell/portfolio">https://github.com/ampatspell/portfolio</a></p>
    <p>Contact: <a href="mailto:ampatspell@gmail.com">ampatspell@gmail.com</a></p>
  {{/ui-backend/row}}
{{/ui-backend/block}}
