{{ui-backend-header title='Portfolio'}}

{{#ui-backend-block}}
  {{#ui-backend-row}}
    Simple photography portfolio website
  {{/ui-backend-row}}
  {{#ui-backend-row}}
    <p>Written by <a href="http://www.amateurinmotion.com" target="_blank">Arnis Vuskans</a></p>
    <p>Contact: <a href="mailto:ampatspell@gmail.com">ampatspell@gmail.com</a></p>
  {{/ui-backend-row}}
{{/ui-backend-block}}
