{{#if section.images.isLoading}}
  <div class="message">Loading…</div>
{{else if section.images.isError}}
  <div class="message">Sorry, images failed to load</div>
{{else if section.images.isLoaded}}
  {{#if section.images.length}}
    {{ui-frontend/image-carousel
        maxWidthSelector='.frontend-section'
        class='images'
        images=section.sortedImages
        selectedImage=selectedImage
        next=(action 'next')
        prev=(action 'prev')
    }}
  {{else}}
    <div class="message">This gallery is empty</div>
  {{/if}}
{{/if}}
