<div class="title">{{#link-to 'sections.section' section}}{{section.title_}}{{/link-to}}</div>
{{#if section.sections}}
  <div class="nested">
    {{#each visible as |section|}}
      {{frontend-menu-item section=section}}
    {{/each}}
  </div>
{{/if}}
