{{#ui-backend-header title=section.pageTitle_ subtitle=subtitle}}
  <div class="footer"><div class="icon" {{action 'open'}}>{{fa-icon 'arrow-circle-right'}}</div><input type="text" value={{url}} disabled=true/></div>
{{/ui-backend-header}}

{{component componentName section=section}}
