{{#unless hideMenu}}
  <div class="column navigation">
    {{#ui-backend/navigation as |nav|}}
      {{#each navigationItems as |item|}}
        {{nav.item icon=item.icon selected=item.selected route=item.route}}
      {{/each}}
    {{/ui-backend/navigation}}
  </div>
{{/unless}}
<div class="column content">
  {{yield}}
</div>
