.ui-frontend-sections-section-summary-content.gallery {
  > .description {
  }
  > .images {
    .clearfix;
    > .image {
      float: left;
      width: 200px;
      height: 160px;
      text-align: center;
      > .image {
        background: url('') no-repeat center;
        background-size: contain;
        width: 190px;
        height: 130px;
      }
      > .description {
      }
    }
  }
}
