<div class="portfolio-backend">

  <div class="ui-backend-columns">
    <div class="ui-backend-column navigation">
      <div class="ui-backend-navigation">
        <div class="item">
          {{fa-icon 'eye'}}
        </div>
        <div class="item selected">
          {{fa-icon 'list'}}
        </div>
        <div class="item">
          {{fa-icon 'power-off'}}
        </div>
      </div>
    </div>
    <div class="ui-backend-column master">
      <div class="ui-backend-header">
        <div class="content">
          Navigation
        </div>
      </div>
      <div class="ui-backend-tree">
        <div class="ui-backend-tree-item">
          <div class="content">
            <div class="title">News</div>
            <div class="info">posts</div>
          </div>
        </div>
        <div class="ui-backend-tree-item">
          <div class="content">
            <div class="title">BIO</div>
            <div class="info">page</div>
          </div>
        </div>
        <div class="ui-backend-tree-item">
          <div class="content">
            <div class="title">Autorfotogrāfija</div>
            <div class="info">section</div>
          </div>
          <div class="nested">
            <div class="ui-backend-tree-item">
              <div class="content">
                <div class="title">Pilsētvide</div>
                <div class="info">collection</div>
              </div>
            </div>
            <div class="ui-backend-tree-item">
              <div class="content">
                <div class="title">Ielu fotogrāfija</div>
                <div class="info">collection</div>
              </div>
            </div>
            <div class="ui-backend-tree-item selected">
              <div class="content">
                <div class="title">Piezīmes</div>
                <div class="info">collection</div>
              </div>
            </div>
            <div class="ui-backend-tree-item">
              <div class="content">
                <div class="title">Knuts</div>
                <div class="info">collection</div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui-backend-tree-item">
          <div class="content">
            <div class="title">Reportāžas</div>
            <div class="info">section</div>
          </div>
          <div class="nested">
            <div class="ui-backend-tree-item">
              <div class="content">
                <div class="title">Komēta</div>
                <div class="info">collection</div>
              </div>
            </div>
            <div class="ui-backend-tree-item">
              <div class="content">
                <div class="title">ISSP 2016</div>
                <div class="info">collection</div>
              </div>
            </div>
            <div class="ui-backend-tree-item">
              <div class="content">
                <div class="title">ISSP 2017</div>
                <div class="info">collection</div>
              </div>
            </div>
            <div class="ui-backend-tree-item">
              <div class="content">
                <div class="title">Laba Daba 2014</div>
                <div class="info">collection</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-backend-column detail">
      <div class="ui-backend-header">
        <div class="content">
          Autorfotogrāfija / Piezīmes
        </div>
      </div>
      <div class="ui-backend-block">
        <div><input type="text" placeholder="name"/></div>
        <div><input type="text" placeholder="password" type="password"/></div>
        <div><button>Login</button></div>
      </div>
    </div>
  </div>

</div>
