{{#ui-backend-master-detail as |md|}}

  {{#md.master}}
    {{ui-backend-header title='Navigation'}}

    {{#ui-backend-tree new=(action (route-action 'new'))}}

      {{#each sections as |item|}}
        <div class="ui-backend-tree-item">
          <div class="content">
            <div class="title">{{item.title}}</div>
            <div class="info">{{item.modelName}}</div>
          </div>
        </div>
      {{/each}}

    {{/ui-backend-tree}}

  {{/md.master}}

  {{#md.detail}}
    {{outlet}}
  {{/md.detail}}

{{/ui-backend-master-detail}}
