<div class="ui-backend-tree-item" {{action attrs.new}}>
  <div class="content">
    <div class="title">Add new section</div>
  </div>
</div>

{{#each array as |model|}}
  {{#ui-backend-tree/item model=model arrayKey=arrayKey action=select as |out|}}
    {{yield out}}
  {{/ui-backend-tree/item}}
{{/each}}
