<div class="content" {{action 'click'}}>
  <div class="title">{{model.menuTitle_}}</div>
  <div class="info">{{model.modelScreenName}}</div>
</div>
{{#if model.sortedSections}}
  <div class="nested">
    {{#each model.sortedSections as |nestedModel|}}
      {{ui-backend-sections-tree-item model=nestedModel select=attrs.select reorder=attrs.reorder}}
    {{/each}}
  </div>
{{/if}}
