<div class="content" {{action 'select'}}>
  {{yield model}}
</div>

{{#with (get model arrayKey) as |array|}}
  <div class="nested">
    {{#each array as |nested|}}
      {{#ui-backend-tree/item model=nested arrayKey=arrayKey action=action as |out|}}
        {{yield out}}
      {{/ui-backend-tree/item}}
    {{/each}}
  </div>
{{/with}}
