<div class="portfolio-frontend theme-paulis">
  <div class="index">
    <div>{{#link-to 'backend'}}{{fa-icon 'gear'}}{{/link-to}}</div>
    <br/>
    {{frontend-menu sections=store.db.main.sections}}
  </div>
</div>
