<div class="ui-block">
  <div class="ui-row">
    {{#if store.session.isAuthenticated}}
      Logged in as {{store.session.name}} {{#link-to 'session.delete'}}Logout{{/link-to}}
    {{else}}
      {{#link-to 'session.new'}}Login{{/link-to}}
    {{/if}}
  </div>
</div>
